@CHARSET "UTF-8";
body {
	font-size: 12px;
	margin: 0px;
	font-family: "Microsoft YaHei";
	    background: #e8edf2;
}
html,body
{
	 height:100%; 
}
/* */
.body{
	
} 
.powerDiv > div
{
	padding-top:0 !important;
}
.seachlistPanel {
	padding: 0px;
	background: url(../../list/assets/seachback.png) no-repeat;
	text-align:center;
    width: 100%;
    background-size: cover;
	/*-ms-behavior: url(/sunproperty-war/pc/core/css/backgroundsize.min.htc);
    behavior:  url(/sunproperty-war/pc/core/css/backgroundsize.min.htc);
	background-position-y: -55px;*/
}
/* .seachlistPanelbottom
{
	background-color:#FFFFFF;
	width: 100%;
	height:10px;
} */
.maskpanel{
	display: inline-block;
    padding-left: 15px;
    width: 950px;
    padding-bottom: 10px;
    background: url(../../list/assets/mask.png);
    position: relative;
    padding-top: 10px;
}
.seachlistPanel .selall {
	
}
.searchsel.active {
	color: #1c6fa9;
	font-weight:bold;
}

.seachlistPanel .selgroup {
	display: table;
	font-size:0
}
.selgroup span {
    font-size: 12px;
}

.seachlistPanel .selgroup .seltype, .seachlistPanel .selgroup ul {
	display: table-cell;
}

.seachlistPanel .selgroup .seltype, .seachlistPanel .selgroup ul {
	display: table-cell;
	padding-left: 0px;
	text-align: left;
}

ul.horizontal li {
	display: inline-block;
}

.seachlistPanel .selgroup .seltype {
	width: 50px;
}

.seltype {
	color: #124061;
	font-weight: bold;
}

.seachlistPanel ul li span { /* width: 60px; */
	display: inline-block;
	margin: 0px 8px;
	line-height: 30px;
}

ul li {
	list-style: none;
}

.housetips {
	    padding: 10px 20px;
    font-size: 14px;
    background: #e5e5e9;
    height: 30px;
    line-height: 30px;
}

.housetips>div {
	display: inline-block;
	font-weight: bold;
}

 .housetips .rightdiv {  
 	/*width: 194px;*/
    position: absolute;
    right: 0px;
    font-weight: normal;
}
 .select {
	display: inline-block;
	width:112px;
	
}
.housetips .rightdiv .select>span{
    float: left;
	line-height:14px;
	height:14px;	
    overflow: hidden;
    display: inline-block;
   }

.select.unitselect:hover>ul
{
	 max-height: 380px;
    overflow: auto;
}
.rightdiv .select ul{
    padding: 0px;
}
.select.unitselect{
	/*width : 220px;*/
}
.select.unitselect>span{	   
    width: 85px;
}
.seachsort {
	display:inline-block;
}
.em-font {
	color: #eb6210;
	padding: 0px 2px;
}
.houselist{
	padding:15px 15px;
}
.houselist li {
	padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #ddd;
}
.houselist li.nodata{
	text-align:center;
	 border-bottom:0px;
}

.housename {
	font-weight: bold;
	font-size: 24px;
	cursor:pointer;
}
.housearealist span{
    height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    padding: 0;
    vertical-align: middle;

}
.seedetail .bf
{
	 display: inline-block;
	 height: 24px;
	 width:6px;
	  background-color:#FFFFFF;
	 background-image:url(../assets/bf.png)
}
.seedetail .af
{
	 display: inline-block;
	 height: 24px;
	 width:6px;
	 background-color:#FFFFFF;
	 background-image:url(../assets/af.png)
}
.housearea-firstico .bf
{
	 background-image:url(../assets/fbf.png)
}
.housearea-lastico .bf
{
	 background-image:url(../assets/lbf.png)
}
.housearea-lastico .af
{
		 background-image:url(../assets/laf.png)
}
.housearea-firstico {
	background-color:#269aec;
}

.housearea-centerico {
	background-color:#269aec;
}

.housearea-lastico {
	background-color:#f68414;
}

.house-row {
	display: table;
	width: 100%;
}

.house-row-item {
	display: table-cell;
	vertical-align: middle;
}

/* .house-row-item>div {
	margin: 7px 0px;
}
 */
.house-item1 {
	width: 210px;
	position: relative;
}
.house-item-center {
    vertical-align: top;
}
.housenamediv{
	margin-top:12px;
}
.houseaddr{
	margin-top:6px;
}
.housesent{
	margin-top:6px;
}
.housealrent{
	margin-top:6px;
}
.housearealist{
	margin-top:10px;
}
.pic-item {
	/* width: 170px;
	height: 156px; */
	height: 100%;
	width: 100%;
	
}
.pic-item.active{
	cursor:pointer;
}
.sel-input {
	width: 50px;
	border:1px solid #bfbfbf;
}

.housearealist {
	color: #ffffff;
	font-size: 0px;
}

.hslist-street {
	color: #ec5c15;
	font-size: 18px;
	 margin-right:8px; 
}

.hslist-detailaddr {
	color: #666666;
	font-size: 14px;
}

.hslist-availarea {
	color: #269aec;
}

.font-def {
	color: #666666;
}

a.btn {
	font-size: 14px;
	padding: 3px 12px 4px 12px;
	display:inline;
	cursor:pointer;
}

a.btn.big-btn {
	font-size: 18px;
	padding: 6px 16px 8px 16px;
}

.primary-btn {
	color: #ffffff;
	background: #269ae0;
}

.primary-btn:hover, .primary-btn:active, .primary-btn.active {
	background: #269ae0;
	display:inline;
}

.btn.picsumbtn {
	background: #898989;
	color: #ffffff;
	font-size: 12px;
	    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.hslist-line {
	border-color: #269aec;
	margin-top: 0px;
	margin-bottom: 0px;
}
.selgroup li{
	cursor:pointer;
}
.turnpage{
	display:none;
}
.houseresultpanel{
/* background:#e8edf2 */
;}
.houseresult{
   /*  padding-bottom: 20px; */
    width: 960px;
    left: 50%;
    position: relative;
    margin-left: -480px;
    background: #fff;
  /*   top: 160px; */
    
}
.housePagin{
	margin-bottom: 15px;
}
.housePagin nav{
	text-align:center;
}
.housePagin ul{
	display: inline-block
}
.housePagin li{
	display:inline-block;
}
.housePagin li a{    
	text-decoration: none;
    display: inline-block;
    border: 1px solid blue;
    margin: 0px 10px;
    text-align: center;
    padding: 3px 8px 4px 8px;
    color:#269ae0;
    background-color: #fff;
    border-color: #ddd;
}
.housePagin li a.active{    
	color:black;
}
.housePagin li a.turnpage{
	color:black;
	display:inline;
}
.housePagin li a.turnpage.active{
	color:#269ae0;
	
}
.seedetail{
	cursor:pointer;
	font-size:12px;
}
.mainback{
	/* padding-bottom:20px; */
    width: 960px;
    left: 50%;
    position: relative;
    margin-left: -480px;
    background:#fff;
    height:100%;
}
.picitem{
	overflow: hidden;
    width: 190px;
    height: 156px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;
    position: relative;
	cursor:pointer;
}

 .select
{
	display: inline-block;
    position: relative;
    font-size: 14px;
	color:#333333;
    vertical-align: middle;
    height: 14px;
    border: 1px solid #c9c9c9;
   	width: 108px;
    line-height: 14px;
    margin: 0 10px;
    background-color: #ffffff;
    padding: 7px 0px 7px 10px;
	cursor:pointer;
	-webkit-box-shadow:  0 0 5px #c9c9c9;
    -moz-box-shadow:  0 0 5px #c9c9c9;
    box-shadow: 0 0 5px #c9c9c9;
        white-space: nowrap;
}
.select:nth-child(3)
{
    width: 140px;
}
.select ul
{
	position: absolute;
    min-width: 122px;
    border: 1px solid #c9c9c9;
    background: #FFFFFF;
    top: 28px;
    left: -1px;
	display:none;
}
.select:hover>ul
{
	display:block;
}
.select ul li
{
	line-height: 30px;
    padding: 0 10px;
    color: #333333;
	cursor:pointer;
}
.select ul>li:hover ,.select ul>li.active
{
	color:#FFFFFF;
	background-color:#76bfee;
}
.select ul>li.custom
{
	 color: #333333 !important;
	 background-color:#FFFFFF !important;
	 width: 130px;
}
.select>ul>li:hover ul
{
	display:block;
}
.select ul li>a.btn
{
	display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    background-color: #f26519;
    margin-top: -1px;
    width: 40px;
    font-size: 14px;
    text-align: center;
    margin-left: 0px;
    color: #ffffff;
    border-radius: 5px;
}
.select>ul>li>ul
{
	left: 118px;
    top: -1px;
}
.select:after
{
	content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    float: right;
    margin: 1px 8px;
    background-image: url(../../map/assets/arrow.png);
    position: absolute;
    right: 0;
}
.gototop
{
	position:fixed;
	display:block;
	width:40px;
	height:40px;
	background-image:url(../assets/gototop.png);
	cursor:pointer;
	bottom:20px;
    left: 50%;
    margin-left: 500px;
	_position:absolute; 
	_bottom:20px;
   _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight- this.offsetHeight-(parseInt(this.currentStyle.marginBottom,10)||20)));
}
.copyright{
	margin-top: 0px;
	border:0px;
    border-top: 1px solid #ddd;
    padding-top: 15px; 
    background: #e5e5e9;
    font-size:12px;
}
.copyright div{
	text-align:center;
	height:30px;
	line-height:30px; 
}
.powerDiv{
	 background-color:#e5e5e9;
}

.houselist li:last-child{
	border:0px;	
}
.tipsall{
	display:inline-block;
}