/* CSS Document */


.header
{
	background-color:#269AEC;
	height:80px;
	line-height:80px;
	position:relative;
	z-index:2;
	overflow:hidden;
}
/* .head>a
{
	    display: inline-block;
    background: #FFFFFF;
    color: #269AEC;
    text-decoration: none;
    width: 100px;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    vertical-align: bottom;
    cursor: pointer;
    font-size: 18px;
    float: right;
    margin-right: 20px;
} */
/* .header h1,.header h1 a
{
	margin:0;
	display:inline-block;
	font-size:30px;
	color:#FFFFFF;
	line-height: 40px;
	font-family: "幼圆" ! important;
	float: left;
	text-decoration:none;
} */
.header .head{
	width:960px;
    margin: auto; 
    position:relative;
    /* font-size:0px; */
    height:80px;
}
.header .searchdiv
{
    margin-left: 40px;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}
.searchdiv input
{
	height: 16px;
    font-size: 14px;
	padding: 11px 8px;
	border-width: 1px;
    border-style:solid;
    border-image: initial;
	border-color:#FFFFFF;
	color:#FFFFFF;
	background-color:#269AEC;
	width:300px;
	font-family: "Microsoft YaHei" ! important; 
}
.searchdiv ::-webkit-input-placeholder {
  color:white;
}
.searchdiv :-moz-placeholder {
  color: white;
}
.searchdiv :-ms-input-placeholder {
  color: white;
}
.searchdiv a
{
	font-size: 16px;
    color: #269AEC;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    vertical-align: top;
	cursor:pointer;
	text-decoration:none;
}
.tomap{
	font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    width: 80px;
    /* background-color: #269AEC; */
    text-align: center;
    line-height: 28px;
    /* vertical-align: bottom; */
    cursor: pointer;
    text-decoration: none;
    height: 28px;
    margin-right:20px;
   /*  position: absolute;
    right: 10px;
    top: 10px; */
    background: url(/sunproperty-war/pc/list/assets/tomapbtn.png);
    margin-left:15px;
}
.tomap img{
	/* width: 18px;
    height: 18px;  */
    display: inline-block;
	 vertical-align: middle;
}
.tomap span{
	display: inline-block;
    vertical-align: middle;
}
.logo{
	display: inline-block;
    vertical-align: middle;
    padding-left: 6px;
}
.logo img{
	display:block;
}
a{
	text-decoration:none;
}
a img{
	border:0px;
}